<% content_for :javascript_includes do %>
  <%= javascript_include_tag "menu-js.js" %>
<% end %>

<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown" >
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Hop-n-Hog</a></h3>

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Favourites</a></li>
 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Cuisine</a>

              <ul class="dropdown-menu">
                <li class="selected"><a href="#">All</a></li>
				<li><a href="#">Indian</a></li>
                <li><a href="#">Chinese</a></li>
                <li><a href="#">American</a></li>
              </ul>
            </li>

          </ul>
          <form class="pull-left" action="">
            <input type="text" placeholder="Search" />
          </form>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">
				<% if user_signed_in? %>
					Sign Out
				<% else %>
					Sign In
				<% end %>
				</a>
              <ul class="dropdown-menu">

                <li><a href="#">Settings</a></li>
				<% if user_signed_in? %>
                	<li><a href="/users/sign_out">Sign Out</a></li>
				<% else %>
						<li><a href="/users/sign_in">Sign In</a></li>
				<% end %>
              </ul>
            </li>
          </ul>

        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
</div><!-- /topbar-wrapper -->




<div class="container-fluid">
	<div class="sidebar">
		<div class="page-header">
          <h3>What's Hot!!</small></h3>   
		</div>
		<div id="My">
			HEre it comes
			<div id = "Mymenu">
				Should be replaced
			</div>
		</div>
	</div>
	<div class="content">
		<div class="page-header" id="test" data-id="test">
          <h3>Today's Spl</small></h3>   
		</div>

		<ul id="menus" data-id="<%= @menu.first.id %>" data-time="<%= @menu.first.created_at.to_i%>">		
	
		</ul>
    </div> <!-- content -->
    <footer>
       <p>&copy; HopnHog 2011</p>
     </footer>
</div> <!-- container-fluid -->

