
<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown" >
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Hop-n-Hog</a></h3>

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Favourites</a></li>
 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Cuisine</a>

              <ul class="dropdown-menu">
                <li><a href="#">Indian</a></li>
                <li><a href="#">Chinese</a></li>
                <li><a href="#">American</a></li>
              </ul>
            </li>

          </ul>
          <form class="pull-left" action="">
            <input type="text" placeholder="Search" />
          </form>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Logout</a>
              <ul class="dropdown-menu">

                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>

              </ul>
            </li>
          </ul>

        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
</div><!-- /topbar-wrapper -->




<div class="container-fluid">
	<div class="sidebar">
		<div class="page-header">
          <h3>What's Hot!!</small></h3>   
		</div>
		<ul>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
			<li>Link1</li>
		</ul>
	</div>
	<div class="content">
		<div class="page-header">
          <h3>Today's Spl</small></h3>   
		</div>
		<ul id="menus">
				<% @menu.each do |m| %>
					<li>
							<% if m.starter %>
							<div> <%= "Starter : " + m.starter  %> </div>
							<% end %>
							<% if m.main_course %>
							<div> <%= "Main Course: " + m.main_course %> </div>
							<% end %>
							<% if m.desserts %>
							<div> <%= "Desserts: " + m.desserts %> </div>
							<% end%>
					</li>	
				<% end %>
		</ul>
    </div> <!-- content -->
    <footer>
       <p>&copy; HopnHog 2011</p>
     </footer>
</div> <!-- container-fluid -->

