<div>
<% @menu_id.each do |menu| %>


    <% @menu = Menu.find_by_id(menu.menu_id) %>
	<b> Restaurant Name : <%= Restaurant.find(@menu.restaurant_id).name %> <br>
	<b> Rating Value :   <%= @menu.average_rating %> </b><br>
	<b> Menu  : <%= @menu.starter+"," +@menu.main_course %> <br>
	<%= "--------------------" %> <br>
<%end%>
</div>